<head><link href="style.css" rel="stylesheet"></link></head>
<h1 id="alexander-riggs">Alexander Riggs</h1>
<h4 id="problem-solving-enthusiast-with-a-strong-background-in-math-and-programming">Problem solving enthusiast with a strong background in math and programming</h4>
<h6 id="gitlab-.-github-.-linkedin-.-ajriggs29gmail.com-.-262-349-6884">[ <a href="https://gitlab.com/1riggs">GitLab</a> ] . [ <a href="https://github.com/1riggs">Github</a> ] . [ <a href="https://www.linkedin.com/in/alexander-riggs-647528157">LinkedIn</a> ] . [ ajriggs29@gmail.com ] . [ 262 349 6884 ]</h6>
<h2 id="skills">Skills</h2>
<p><strong>Programming:</strong> Python, SQL, git, Javascript, Java, MATLAB</p>
<p><strong>Python Tools</strong>: scikit-learn, pandas, NumPy, SciPy, SQLAlchemy, NetworkX, FastAPI</p>
<p><strong>Database Systems:</strong> PostgreSQL, Elasticsearch, Oracle APEX, SQLite</p>
<p><strong>GIS Tools:</strong> GDAL/OGR, QGIS, PostGIS, GeoServer, tippecanoe</p>
<p><strong>Linux &amp; Utilities:</strong> Debian-based distros, bash, vim, sed, awk, cron</p>
<p><strong>Server Administration &amp; DevOps:</strong> AWS, Docker, docker-compose, Jenkins, Terraform</p>
<p><strong>AWS:</strong> S3, Elasticsearch Service, EC2, ECR, RDS, Cloudfront, Route53</p>
<p><strong>Javascript:</strong> Node, Express, React</p>
<h2 id="experience">Experience</h2>
<p><strong>Software Engineer, Outside Analytics Inc.</strong> (2018-present, Boulder CO)</p>
<ul>
<li>Managed and designed database schemas for multiple projects</li>
<li>Contributed to an API which utilized NodeJS with ExpressJS, and Sequelize</li>
<li>Managed deployments and infrastructure using Docker, Terraform, Jenkins, and Chef</li>
<li>Processed large GIS data sets and created map display assets</li>
<li>Contributed to a statistical model using pandas, NumPy, &amp; SciPy of hunt license lottery in multiple states</li>
<li>Contributed to a machine learning model which predicts a hunter&rsquo;s chance of success in a geographic area</li>
<li>Mentored junior developers through code reviews and peer programming</li>
<li>Created git guidelines to unify and streamline the companies version control strategy</li>
</ul>
<p><strong>Undergraduate Researcher, University of Wisconsin Milwaukee</strong> (2017-2018, Milwaukee WI)</p>
<ul>
<li>Co-author of <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0200266">Scaling Behavior of Drug Transport and Absorption in In Silico Cerebral Capillary Network</a></li>
</ul>
<h2 id="education">Education</h2>
<p><strong>B. S. in Applied Mathematics and Computer Science, University of Wisconsin - Milwaukee</strong> (2013-2018)</p>
<ul>
<li>Undergraduate research on mathematical modeling of biological systems</li>
<li>Coursework in linear algebra, optimzation, mathematical modeling, and algorithms</li>
</ul>
<h2 id="projects">Projects</h2>
<p><strong><a href="drshevek.com">Personal Website</a></strong> (2018-present)</p>
<ul>
<li>Simple website for tinkering and self-hosting projects</li>
<li>Uses NGINX, docker &amp; docker-compose, and letsencrypt</li>
<li>Hosted on a Raspberry Pi4</li>
<li><a href="https://gitlab.com/1riggs/drshevek.com">GitLab Repo</a></li>
</ul>
<p><strong><a href="drshevek.com/motioneye">Web-accessible Security Camera</a></strong> (2018-present)</p>
<ul>
<li>Webcam turned security camera which allows a logged in user to take a picture, and records video based on motion activity</li>
<li>Uses MotionEye, docker &amp; docker-compose</li>
<li>Hosted on a Raspberry Pi4</li>
</ul>
<p><strong><a href="https://gitlab.com/1riggs/dwm_api">DWM API (Repo Only)</a></strong> (2019-present)</p>
<ul>
<li>An in progress application (web &amp; CLI) for players of Dragon Warrior Monsters (GBC)</li>
<li>Parses data from old forum posts using pandas</li>
<li>API using FastAPI framework</li>
<li>PostgreSQL database, managed using Alembic/SQLAlchemy</li>
<li>Deployed using docker &amp; docker-compose</li>
</ul>
